<a href="https://colab.research.google.com/github/Oh1Nana/4100E222-Works/blob/Montenegro-Works/4100E222python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

#Simple Test
Please write a function that can do 
sum(i1, i2, i3)

==> range(i1, i2, i3)

def main():
    print("Sum from 1 to 10 is", sum(1, 11,2)) 
    print("Sum from 20 to 37 is", sum(20, 38,3))
    print("Sum from 35 to 49 is", sum(35, 50,5))

main() # Call the main function

sum(1   11,2)= 1+3+5+7+9

sum(20  38,3) =20+23+26+29

sum(35  50,5)= 35+40+45+50

In [10]:
def sum(i1,i2,i3):
    result = 0
    for i in range(i1,i2,i3):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11,2)) 
    print("Sum from 20 to 37 is", sum(20, 38,3))
    print("Sum from 35 to 49 is", sum(35, 50,5))

main() # Call the main function

Sum from 1 to 10 is 25
Sum from 20 to 37 is 165
Sum from 35 to 49 is 120

In [13]:
def sum(i1,i2,i3):
    result = 0
    for i in range(i1,i2,i3):
        result += i
    return result

def main():
    print("Sum1 ", sum(1, 11,2)) 
    print("Sum2 ", sum(20, 38,3))
    print("Sum3 ", sum(35, 50,5))

main() # Call the main function

Sum1  25
Sum2  165
Sum3  120

In [14]:
def swap(m,c):
  m,c = c,m
  return (m,c)

if __name__ == '__main__':
    m = 14
    c = 19
    print('m = %d,c = %d' % (m,c))
    x,y = swap(x,y)
    print('m = %d,c = %d' % (m,c))

m = 14,c = 19
m = 14,c = 19