<a href="https://colab.research.google.com/github/Oh1Nana/4100E222-Works/blob/Montenegro-Works/4100E222python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

#Simple Test
Please write a function that can do 
sum(i1, i2, i3)

==> range(i1, i2, i3)

def main():
    print("Sum from 1 to 10 is", sum(1, 11,2)) 
    print("Sum from 20 to 37 is", sum(20, 38,3))
    print("Sum from 35 to 49 is", sum(35, 50,5))

main() # Call the main function

sum(1   11,2)= 1+3+5+7+9

sum(20  38,3) =20+23+26+29

sum(35  50,5)= 35+40+45+50

In [ ]:
def sum(i1,i2,i3):
    result = 0
    for i in range(i1,i2,i3):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11,2)) 
    print("Sum from 20 to 37 is", sum(20, 38,3))
    print("Sum from 35 to 49 is", sum(35, 50,5))

main() # Call the main function

Sum from 1 to 10 is 25
Sum from 20 to 37 is 165
Sum from 35 to 49 is 120

In [ ]:
def sum(i1,i2,i3):
    result = 0
    for i in range(i1,i2,i3):
        result += i
    return result

def main():
    print("Sum1 ", sum(1, 11,2)) 
    print("Sum2 ", sum(20, 38,3))
    print("Sum3 ", sum(35, 50,5))

main() # Call the main function

Sum1  25
Sum2  165
Sum3  120

In [ ]:
def swap(m,c):
  m,c = c,m
  return (m,c)

if __name__ == '__main__':
    m = 14
    c = 19
    print('m = %d,c = %d' % (m,c))
    m,c = swap(m,c)
    print('m = %d,c = %d' % (m,c))

m = 14,c = 19
m = 19,c = 14

In [29]:
def sort(number1, number2, number3):
    if (number1 < number2) and (number1 < number3):
      if number2 < number3:
        return number1, number2,number3
      else:
        return number1, number3,number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1,number3
      else:
        return number2, number3,number1    
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1,number2
      else:
        return number3, number2,number1 

num1, num2, num3  = sort(19,21,8)

print("num1 is", num1)
print("num2 is", num2)
print("num2 is", num3)

num1 is 8
num2 is 19
num2 is 21

In [42]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 10, height = 13):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

#Default arguments

In [43]:
printArea()

width: 10 	height: 13 	area: 130

#Keyword arguments

In [46]:
printArea(width = 10, height = 8)

width: 10 	height: 8 	area: 80

In [47]:
printArea(height = 8, width = 10)

width: 10 	height: 8 	area: 80

#Positional arguments

In [48]:
printArea(10,8)

width: 10 	height: 8 	area: 80

In [49]:
printArea(8,10)

width: 8 	height: 10 	area: 80